name: Release

on:
  create:

jobs:
  release:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    runs-on: ubuntu-latest

    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: v0.9.1
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      -
        name: "Fetch latest tag"
        id: get-latest-tag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"
      -
        name: Build and push Postgres 17 with VectorChord
        id: docker_build_17_timescaledb
        uses: docker/build-push-action@v6
        with:
          build-args: |
            PG_MAJOR_VERSION=17
            VERSION=${{ steps.get-latest-tag.outputs.tag }}
          context: .
          file: ./pg17/Dockerfile
          push: true
          tags: |
            mats16/postgres-flex-vchord:17
      -
        name: Postgres 17 Image digest
        run: echo ${{ steps.docker_build_17.outputs.digest }}
      -
        name: Postgres 17 TimescaleDB Image digest
        run: echo ${{ steps.docker_build_17_timescaledb.outputs.digest }}
